<header class="sticky-top bg-dark-orang">
    <div class="container">
        <div class="header-data">
            <div class="logo ">
                <a href="index.html" title="">
                    <img src="images/logo.png" class="logo-css" alt="">
                </a>
            </div>
            <div class="logo"></div>
            <div class="logo"></div>


            <!--logo end-->
            <div class="search-bar search-override">
                <form autocomplete="off" class="autocomplete">


                    <input id="myInput" class="input-override" type="text" name="myCountry" placeholder="ប្រទេស">
                    <button type="submit">
                        <i class="la la-search"></i>
                    </button>




                </form>
            </div>



            <!--search-bar end-->
            <nav style="text-align:right !important;width:51%;">
                <ul>

                    <li class="bar-school" style="visibility: hidden">
                        <a href="#" class="school-ham" title="">
                            <i class="fas fa-bars icon-font"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="fas fa-users icon-font"></i>
                            <h4 class="hide-text">ក្រុមពត៌មាន</h4>
                        </a>
                    </li>
                    <li>
                        <a title="" class="not-box-opens">
                            <span id="Request_count">3</span>
                            <i class="fas fa-user-plus icon-font"></i>
                            <h4 class="hide-text">សំណើសុំធ្វើមិត្តភក្តិ</h4>
                        </a>
                        <div class="notification-box msg">
                            <div class="nt-title">
                                <h4>សំណើសុំធ្វើមិត្តភក្តិ</h4>
                                <a href="#" title="">លុបទាំងអស់
                                </a>
                            </div>
                            <div class="nott-list">
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="messages.html" class="confirm-name" style="font-size: 13px;margin-top: 5px;width: 68px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Jassica
                                                WilliamWilliam William</a>
                                            <button style="margin-left: 5px;margin-top: -10px;" class="btn btn-sm btn-primarys">យល់ព្រម</button>
                                            <button style="margin-top: -10px;" class="btn btn-dangers">បដិសេធ</button>
                                        </h3>

                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="messages.html" class="confirm-name" style="font-size: 13px;margin-top: 5px;width: 68px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Jassica
                                                WilliamWilliam William</a>
                                            <button style="margin-left: 5px;margin-top: -10px;" class="btn btn-primarys">យល់ព្រម</button>
                                            <button style="margin-top: -10px;" class="btn btn-dangers">បដិសេធ</button>
                                        </h3>

                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="messages.html" class="confirm-name" style="font-size: 13px;margin-top: 5px;width: 68px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Jassica
                                                WilliamWilliam William</a>
                                            <button style="margin-left: 5px;margin-top: -10px;" class="btn btn-primarys">យល់ព្រម</button>
                                            <button style="margin-top: -10px;" class="btn btn-dangers">បដិសេធ</button>
                                        </h3>

                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="messages.html" class="confirm-name" style="font-size: 13px;margin-top: 5px;width: 68px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Jassica
                                                WilliamWilliam William</a>
                                            <button style="margin-left: 5px;margin-top: -10px;" class="btn btn-primarys">យល់ព្រម</button>
                                            <button style="margin-top: -10px;" class="btn btn-dangers">បដិសេធ</button>
                                        </h3>

                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="messages.html" class="confirm-name" style="font-size: 13px;margin-top: 5px;width: 68px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Jassica
                                                WilliamWilliam William</a>
                                            <button style="margin-left: 5px;margin-top: -10px;" class="btn btn-primarys">យល់ព្រម</button>
                                            <button style="margin-top: -10px;" class="btn btn-dangers">បដិសេធ</button>
                                        </h3>

                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="messages.html" class="confirm-name" style="font-size: 13px;margin-top: 5px;width: 68px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Jassica
                                                WilliamWilliam William</a>
                                            <button style="margin-left: 5px;margin-top: -10px;" class="btn btn-primarys">យល់ព្រម</button>
                                            <button style="margin-top: -10px;" class="btn btn-dangers">បដិសេធ</button>
                                        </h3>

                                    </div>

                                </div>
                                <!-- <div class="view-all-nots">
                                            <a href="messages.html" title="">View All Messsages</a>
                                        </div> -->
                            </div>

                        </div>

                    </li>
                    <li>
                        <a title="" class="not-box-open">
                            <span id="notification_count">3</span>
                            <i class="fas fa-bell icon-font"></i>
                            <h4 class="hide-text">ការកំណត់សម្គាល់</h4>
                        </a>
                        <div class="notification-box">
                            <div class="nt-title">
                                <h4>ការកំណត់សម្គាល់</h4>

                            </div>
                            <div class="nott-list">
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="#" title="">Jassica William</a> បញ្ចេញមតិលើប្រកាសរបស់អ្នក
                                        </h3>
                                        <span>២នាទីមុន</span>
                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="#" title="">Jassica William</a> បញ្ចេញមតិលើប្រកាសរបស់អ្នក</h3>
                                        <span>២នាទីមុន</span>
                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img3.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="#" title="">Jassica William</a> បញ្ចេញមតិលើប្រកាសរបស់អ្នក</h3>
                                        <span>២នាទីមុន</span>
                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="#" title="">Jassica William</a> បញ្ចេញមតិលើប្រកាសរបស់អ្នក</h3>
                                        <span>២នាទីមុន</span>
                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="#" title="">Jassica William</a> បញ្ចេញមតិលើប្រកាសរបស់អ្នក</h3>
                                        <span>២នាទីមុន</span>
                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="#" title="">Jassica William</a> បញ្ចេញមតិលើប្រកាសរបស់អ្នក</h3>
                                        <span>២នាទីមុន</span>
                                    </div>

                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3>
                                            <a href="#" title="">Jassica William</a> បញ្ចេញមតិលើប្រកាសរបស់អ្នក</h3>
                                        <span>២នាទីមុន</span>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </li>



                </ul>

            </nav>

            <div class="user-account user-account-over">
                <div class="user-info">
                    <img src="images/resources/user.png" alt="">
                    <a title="">John</a>
                    <i class="la la-sort-down"></i>
                </div>
                <div class="user-account-settingss">
                    <h3>ការកំណត់</h3>
                    <ul class="us-links">
                        <li>
                            <a href="profile-account-setting.html" title="">ការកំណត់គណនេយ្យ</a>
                        </li>
                        <li>
                            <a href="#" title="">ផ្ទាល់ខ្លួន</a>
                        </li>
                        <li>
                            <a href="#" title="">Faqs</a>
                        </li>
                        <li>
                            <a href="#" title="">គោលការណ៍ និង លក្ខខណ្ឌ</a>
                        </li>
                    </ul>
                    <h3 class="tc">
                        <a href="#" title="">ចាកចេញ</a>
                    </h3>
                </div>
            </div>
        </div>
        <!--header-data end-->
    </div>
</header>