<div class="right-sidebar" xmlns:th="http://www.thymeleaf.org" th:fragment="right-side-bar">


    <!--widget-jobs end-->
    <div class="widget  full-width border-over">
        <div class="sd-title">
            <h3>សមាជិកក្រុម (14)</h3>

        </div>
        <!--sd-title end-->
        <div class="suggestions-lists">
            <div class="suggestion-usd suggestion-usd-group">
                <a href="">
                    <img src="images/resources/s1.png" class="img-comment" alt="">
                    <div class="sgt-text" style="margin-top: 15px;">
                        <h4>Jessica William</h4>
                    </div>
                </a>
            </div>
            <div class="suggestion-usd suggestion-usd-group">
                <a href="">
                    <img src="images/resources/s1.png" class="img-comment" alt="">
                    <div class="sgt-text" style="margin-top: 15px;">
                        <h4>Nora William</h4>
                    </div>
                </a>
            </div>
            <div class="suggestion-usd suggestion-usd-group">
                <a href="">
                    <img src="images/resources/s1.png" class="img-comment" alt="">
                    <div class="sgt-text" style="margin-top: 15px;">
                        <h4>Soa William</h4>
                    </div>
                </a>
            </div>
            <div class="suggestion-usd suggestion-usd-group">
                <img src="images/resources/s1.png" class="img-comment" alt="">
                <div class="sgt-text" style="margin-top: 15px;">
                    <h4>Jessica William</h4>
                </div>
            </div>
            <div class="suggestion-usd suggestion-usd-group">
                <a href="">
                    <img src="images/resources/s1.png" class="img-comment" alt="">
                    <div class="sgt-text" style="margin-top: 15px;">
                        <h4>Jessica William</h4>
                    </div>
                </a>
            </div>
            <div class="suggestion-usd suggestion-usd-group">
                <img src="images/resources/s1.png" alt="">
                <div class="sgt-text" style="margin-top: 15px;">
                    <h4>Jessica William</h4>
                </div>
            </div>


        </div>
        <!--suggestions-list end-->
    </div>

    <div class="widget widget-jobs">
        <div class="sd-title">
            <h3>សកម្មភាពប្រចាំថ្ងៃ</h3>

        </div>
        <div class="jobs-list">
            <div class="job-info">
                <div class="job-details">
                    <a href="#"> មានអ្នកប្រកាសនៅក្នុងក្រុម .... </a>
                </div>
            </div>
            <div class="job-info">
                <div class="job-details">
                    <a href="#"> មានអ្នកប្រកាសនៅក្នុងក្រុម .... </a>
                </div>
            </div>
            <div class="job-info">
                <div class="job-details">
                    <a href="#"> មានអ្នកប្រកាសនៅក្នុងក្រុម .... </a>
                </div>
            </div>

            <div class="job-info">
                <div class="job-details">
                    <a href="#">មានអ្នកប្រកាសនៅក្នុងក្រុម .... </a>
                </div>
            </div>
            <div class="job-info">
                <div class="job-details">
                    <a href="#"> មានអ្នកប្រកាសនៅក្នុងក្រុម .... </a>
                </div>
            </div>
            <div class="job-info">
                <div class="job-details">
                    <a href="#">មានអ្នកប្រកាសនៅក្នុងក្រុម .... </a>
                </div>
            </div>

            <!--job-info end-->
        </div>
        <!--jobs-list end-->
    </div>
</div>