<div class="right-sidebar" xmlns:th="http://www.thymeleaf.org" th:fragment="right-side-bar">
    <div class="widget widget-portfolio border-over">

        <div class="wd-heady">
            <h3>សំណើរ</h3>
            <img src="images/suggest.png" alt="">

        </div>


        <!-- suggestion -->

        <div class="suggestions-list">
            <div class="suggestion-usd">
                <img src="images/resources/s1.png" alt="">
                <div class="sgt-text">
                    <h4 class="up-suggest">Jessica William</h4>
                </div>
                <span>
                    <i class="la la-plus add-friend" user-id="120"></i>
                </span>
            </div>
            <div class="suggestion-usd" id="2">
                <img src="images/resources/s2.png" alt="">
                <div class="sgt-text">
                    <h4>ដាក់សំណើ</h4>
                </div>
                <span>
                    <i class="la la-plus add-friend" user-id="121"></i>
                </span>
            </div>
            <div class="suggestion-usd">
                <img src="images/resources/s3.png" alt="">
                <div class="sgt-text">
                    <h4 class="up-suggest">Poonam</h4>
                </div>
                <span>
                    <i class="la la-plus add-friend" user-id="122"></i>
                </span>
            </div>
            <div class="suggestion-usd">
                <img src="images/resources/s4.png" alt="">
                <div class="sgt-text">
                    <h4 class="up-suggest">Bill Gates</h4>
                </div>
                <span>
                    <i class="la la-plus"></i>
                </span>
            </div>
            <div class="suggestion-usd">
                <img src="images/resources/s5.png" alt="">
                <div class="sgt-text">
                    <h4 class="up-suggest">Jessica William</h4>
                </div>
                <span>
                    <i class="la la-plus"></i>
                </span>
            </div>

        </div>

        <!-- end sugestion -->

        <div class="wd-heady border-top">
            <h3>Gallery</h3>
            <img src="images/photo-icon.png" alt="">
        </div>

        <div class="pf-gallery up-member-group​ ">


            <ul>

                <li>
                    <a href="#" title="">
                        <img src="images/resources/pf-gallery2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <img src="images/resources/pf-gallery3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <img src="images/resources/pf-gallery4.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <img src="images/resources/pf-gallery5.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <img src="images/resources/pf-gallery6.png" alt="">
                    </a>
                </li>

            </ul>
        </div>
        <div class="text-right job_descp">
            <a href="#">
                មើលទាំងអស់</a>
        </div>


        <!--widget-portfolio end-->
    </div>
    <!--right-sidebar end-->

</div>